*::before,
*::after,
body {
  position:relative
}


.brent {
  position: relative;
}

.my-absolute::after {
  content: 'Test Content';
  display: block;
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  color: red;
  font-size: 3em;
}