*::before,
*::after,
/* body {
  max-width: 1500px;
  padding-left: 15px;
  padding-right: 15px;
} */


.brent {
  position: relative;
}

.my-absolute::after {
  content: 'Test Content';
  display: block;
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  color: red;
  font-size: 3em;
}

.container {
  max-width: 500px;
  padding-right: 16px;
}